@model BestSellersItemViewModel

 <a asp-controller="products" asp-action="details" asp-route-id="@Model.Id" class="bestSellers-item">
	<div id="icon-container">
     <img src="@Model.ImageUrl" alt="@Model.Title">
		<i class="add-cart fa-regular fa-cart-plus"></i>
        <i class="fa-regular fa-heart" id="heart-icon"></i>
	</div>
                <div class="product-container">
                    <div class="star-container">
                          <span class="star"><i class="fa-solid fa-star" id="star-icon"></i></span>
            <span class="star"><i class="fa-solid fa-star" id="star-icon"></i></span>
            <span class="star"><i class="fa-solid fa-star" id="star-icon"></i></span>
            <span class="star"><i class="fa-solid fa-star" id="star-icon"></i></span>
			<span class="star"><i class="fa-solid fa-star" id="star-icon"></i></span>
                    </div>
                    <div class="product-title">@Model.Title</div>
                    <div class="info">
                        <div class="product-price">$@Model.Price</div>
                       
                    </div>
                </div>
            </a>