<div class="category-icons">
    @foreach (var category in Model.Categories)
    {
        <div class="category-icon">
                @if (Model.CategoryImagesId != null)
                {
                    foreach (var categoryImage in Model.CategoryImagesId)
                    {
                        if (categoryImage.CategoryName == category.CategoryName)
                        { 
                            <div class="category-icon-circle">
							<img src="@categoryImage.ImageUrl" alt="Image" />
						</div>
                        }
                    }
                } 
                <p>@category.CategoryName</p>
        </div>
       }
</div>

