<div class="category-icons">
    @foreach (var category in Model.Categories)
    {
        <div class="category-icon">
            <div class="category-icon-circle"> </div>
            <p>@category.CategoryName</p>


        </div>

    }
</div>