
<div class="category-icons">
@foreach (var categoryName in Model.Categories)
{
    <div class="category-icon">
			<div class="category-icon-circle"></div>
            <p>@categoryName.CategoryName</p>
      
    </div>
}
</div>