@model LatestProductsItemViewModel

<section class="showcase">
	<div class="container">
		<div id="carousel-slide-showcase" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="~/images/270x295.svg" alt="...">
					<div class="card-text">Welcome To Manero</div>
					<button class="btn-shop-now">Shop Now</button>
				</div>
				<div class="carousel-item">
					<img src="~/images/270x295.svg" alt="...">
					<div class="card-text">50% off</div>
					<button class="btn-shop-now">Shop Now</button>
				</div>
				<div class="carousel-item">
					<img src="~/images/270x295.svg" alt="...">
					<div class="card-text">Latest</div>
					<button class="btn-shop-now">Shop Now</button>

				</div>
			</div>
		</div>
	</div>
</section>