@model LatestProductsViewModel

@if (Model != null)
{
	<section class="featured">
		<div class="container">

			@if (!string.IsNullOrEmpty(Model.Title))
			{

				<h1 class="title">@Model.Title</h1>
				

			}


			@if (Model.LatestItems != null)
			{
				<div class="grid">
					@foreach (var item in Model.LatestItems)
					{
						<partial name="/Views/Partials/Home/_LatestItem.cshtml" model="item" />
					}
				</div>
			}
		</div>
	</section>


}
