@model LatestProductsViewModel

@if (Model != null)
{
    <section class="latest">
   

            @if (!string.IsNullOrEmpty(Model.Title))
            {
                <h1 class="latest-title">@Model.Title</h1>
            }

            @if (Model.LatestItems != null && Model.LatestItems.Any())
            {
                <div id="carousel-slide-showcase" class="carousel slide" data-ride="carousel" data-slide-interval="8000">
                    <div class="carousel-inner">
                        @foreach (var item in Model.LatestItems)
                        {
                            if (item != null)
                            {
                                <div class="carousel-item @(item == Model.LatestItems.First() ? "active" : "")">
                                    <partial name="/Views/Partials/Home/_LatestItem.cshtml" model="item" />
                                </div>
                            }
                        }
                    </div>
                </div>
            }
   
    </section>
}