<div class="topnav">
    <div class="row align-items-center">
        <div class="col-auto" style="margin-left: 10px;">
            <i class="fa-solid fa-chevron-left fa-lg"></i>
        </div>
        <div class="col text-center" style="padding-right: 53px;">
            <h5>Track your order</h5>
        </div>
    </div>
</div

<div class="container">
    <div class="d-flex justify-content-center align-items-center mt-2">
        <i class="fa-solid fa-location-dot fa-4x"></i>
    </div>
    <div class="d-flex justify-content-center align-items-center" style="padding-top: 7px;">
        <i class="fa-solid fa-minus fa-2x fa-rotate-90"></i>
    </div>
    <div class="col text-center mb-1 mt-3">
        <h5 class="mb-0">Your order:</h5>
       <h6 class="card-subtitle opacity-75">#@Model.OrderId</h6> 
    </div>
</div>

<div class="container" style="padding-top: 37px;">
    @foreach (var trackingStatus in Model.TrackingStatuses)
    {
        <div class="row align" style="margin-left: 10px;">
            <div class="col-2 text-center">
                @if (trackingStatus.IsDot)
                {
                    <i class="fa-solid fa-2x fa-circle-dot d-block mb-0"></i>
                }
                else
                {
                    <i class="fa-regular fa-2x fa-circle d-block mb-0"></i>
                }
                <i class="fa-solid fa-2x fa-minus fa-rotate-90 d-block"></i>
            </div>
            <div class="col">
                <p class="font-weight-bold mb-0">@trackingStatus.TrackLabel</p>
                <p class="text-muted mt-0 small">@trackingStatus.TrackDescription</p>
            </div>
        </div>
    }
</div>