
@model IEnumerable<ProductEntity>
<section class="product-page">
<div class="container">
 
        @foreach (var product in Model)
        {
			<div class="container" id="container-product">
				
                    
                        <a asp-action="details" id="product-route" asp-route-articleNumber="@product.ArticleNumber">@product.ProductName</a>
					<strong>
						@product.Price.ToString("0:-")
                    </strong>

                    
                    

                </div>
               
              
     
        }
</div>



</section>