<div class="topnav">
    <div class="row align-items-center">
        <div class="col-auto" style="margin-left: 10px;">
            <i class="fa-solid fa-chevron-left fa-lg"></i>
        </div>
        <div class="col text-center">
            <h5>Order history</h5>
        </div>
    </div>
</div>