
<div class="topnav">
    <div class="row align-items-center">
        <div class="col-auto" style="margin-left: 14px;">
            <i class="fa-solid fa-chevron-left"></i>
        </div>
        <div class="col text-center" style="padding-right: 53px;">
            <h6>My address</h6>
        </div>
    </div>
</div

<div class="align-content-center">
    <div class="row" style="margin-top: 20px; margin-right: 7px; margin-left: 7px; margin-bottom: 32px;">
        <div class="col-auto" style="align-items: center; margin-left: 1%">
            <i class="fa-regular fa-house fa-lg" style="vertical-align: middle;"></i>
        </div>
        <div class="col-auto" style="display: flex; flex-direction: column; ">
            <p class="text-black"style="margin: 0;">Home</p>
            <p class="text-muted text-sm"style="margin: 0; max-width: 100%;">800 S Kirkland Ave, Chicago...</p>
        </div>
        <div class="col-auto" style="margin-left: 8%;">
            <i class="fa-regular fa-pen-line fa-sm" style="vertical-align: middle;"></i>
        </div>
    </div>
</div>
