
<div class="topnav">
    <div class="row align-items-center">
        <div class="col-auto" style="margin-left: 14px;">
            <i class="fa-solid fa-chevron-left"></i>
        </div>
        <div class="col text-center" style="padding-right: 13%;">
            <p style=" font-size:large;"class="text-xl-center">My address</p>
        </div>
    </div>
</div

<div class="align-content-center" style="margin-bottom: 32px;">
    <div class="row" style="margin-top: 20px; margin-bottom: 7px;">
        <div class="col-auto" style="margin-top: 6px; text-align: left; margin-left:26px;">
            <i class="fa-regular fa-house fa-lg" style="vertical-align: middle;"></i>
        </div>
        <div class="col" style="display: flex; flex-direction: column; text-align:left; margin-left:4px; ">
            <p class="text-black" style="margin: 0;">Home</p>
            <p class="text-muted text-sm" style="margin: 0; text-overflow: ellipsis;">800 S Kirkland Ave, Chicago...</p>
        </div>
        <div class="col-auto" style="margin-top: 6px; text-align: right; margin-right:26px;">
            <i class="fa-regular fa-pen-line fa-sm" style="vertical-align: middle;"></i>
        </div>
    </div>
    <hr />
    <div style="text-align:center; margin-top: 20px; margin-bottom: 5px;"class="col-12 d-flex justify-content-center">
        <i class="fa-sharp fa-regular fa-plus"></i>
    </div>
            <p style="text-align:center;">Add new adress</p>
</div>