@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&family=Inter:wght@300;400;500;600;700&family=Mulish:wght@700&display=swap");
.title {
  font-size: 30px;
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-weight: 700;
}

.product-title {
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  color: #626262;
}

.product-price {
  font-size: 18px;
  font-family: "Mulish", sans-serif;
  color: #111111;
}

.view-all {
  font-size: 18px;
  font-family: "Mulish", sans-serif;
  color: #111111;
  text-transform: lowercase;
}

.best-sellers {
  padding: 40px 20px;
  display: flex;
}
.best-sellers .title {
  text-align: center;
}
.best-sellers .view-all {
  text-align: right;
  margin: 12px;
}
.best-sellers a {
  text-decoration: none;
}
.best-sellers .product-container {
  margin-top: 10px;
}
.best-sellers .star-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.best-sellers #star-icon {
  color: #FFBE00;
}
.best-sellers #icon-container {
  position: relative;
}
.best-sellers #icon-container #heart-icon {
  position: absolute;
  top: 80px;
  right: 30px;
}
.best-sellers #icon-container #heart-icon:hover {
  color: #F4303C;
}
.best-sellers #icon-container i {
  position: absolute;
  top: 40px;
  right: 30px;
  font-size: 24px;
  color: #626262;
}
.best-sellers #arrow-icon {
  margin-left: 5px;
  font-size: 16px;
}
.best-sellers .best-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.best-sellers .product-container {
  margin-bottom: 20px;
}

.category-icons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}
.category-icons #categori-text {
  text-decoration: none;
  color: #111111;
}
.category-icons #categori-text:hover {
  color: #626262;
}

.category-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.category-icon-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #626262;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-weight: bold;
}

.category-icon-circle img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

p {
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  text-align: center;
}

.featured {
  display: flex;
  padding: 40px 20px;
}
.featured .title {
  text-align: left;
}
.featured a {
  text-decoration: none;
}
.featured .product-container {
  margin-top: 10px;
}
.featured .star-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.featured #star-icon {
  color: #FFBE00;
}
.featured #icon-container {
  position: relative;
}
.featured #icon-container #cart-featured-icon {
  position: absolute;
  top: 100px;
  right: 10px;
  font-size: 16px;
}
.featured #icon-container #heart-featured-icon {
  position: absolute;
  top: 80px;
  right: 10px;
  font-size: 14px;
}
.featured #icon-container #heart-featured-icon:hover {
  color: #F4303C;
}
.featured #icon-container i {
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 18px;
  color: #626262;
}
.featured #arrow-icon {
  margin-left: 5px;
  font-size: 16px;
}
.featured .featured-img {
  height: 200px;
  object-fit: contain;
}
.featured .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.featured .product-container {
  margin-bottom: 20px;
}

.container {
  padding: 40px 80px 40px 80px;
}
.container h2 {
  margin-bottom: 20px;
}
.container .detail-title {
  margin-top: 10px;
  font-family: "Mulish", sans-serif;
  color: #626262;
  font-size: 24px;
}
.container #heart-icon {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
  font-size: 20px;
}
.container #heart-icon:hover {
  color: #F4303C;
}
.container h4 {
  margin-top: 5px;
}
.container .detail-price {
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  margin-top: 10px;
}
.container .star-detail-container {
  margin-top: 10px;
}
.container .detail-description {
  font-family: "Segoe UI";
}
.container .star-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container #star-icon {
  color: #FFBE00;
}
.container #icon-container {
  position: relative;
}
.container #icon-container #heart-icon {
  position: absolute;
  top: 80px;
  right: 30px;
}
.container #icon-container #heart-icon:hover {
  color: #F4303C;
}
.container #icon-container i {
  position: absolute;
  top: 40px;
  right: 30px;
  font-size: 24px;
  color: #626262;
}
.container #cart-icon {
  color: #626262;
}
.container #cart-icon:hover {
  color: #111111;
}
.container #arrow-icon {
  margin-left: 5px;
  font-size: 16px;
}
.container .icon-size-container, .container .icon-color-container {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 5px;
}
.container .icon-color-container {
  margin-top: 20px;
}
.container .size-text, .container .color-text {
  font-size: 16px;
  margin-top: 10px;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
}
.container .icon-size {
  margin-top: 10px;
  width: 40px;
  height: 40px;
  color: black;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}
.container .icon-size:hover {
  background-color: #DBE3F5;
  cursor: pointer;
}
.container .icon-color {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  color: black;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}
.container .icon-color:hover {
  cursor: pointer;
}
.container .red {
  background-color: #FF6262;
}
.container .blue {
  background-color: #63C7FF;
}
.container .beige {
  background-color: #F8E7CD;
}
.container .navy {
  background-color: #323858;
}
.container .black {
  background-color: #111111;
}
.container .link-products {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: "Mulish", sans-serif;
}
.container a {
  text-decoration: none;
  color: #626262;
}
.container a:hover {
  color: cadetblue;
}
.container #quantity-container {
  margin-top: 20px;
}
.container #form-quantity {
  width: 40px;
}
.container #plus-button, .container #minus-button {
  color: #111111;
}
.container .btn-add-to-cart {
  margin-top: 20px;
  cursor: pointer;
  font-family: "Mulish", sans-serif;
  padding: 10px 35px;
  border: 1px solid #111111;
  background-color: #111111;
  color: white;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  border-radius: 25px;
}
.container .btn-add-to-cart:hover {
  color: #111111;
  background-color: white;
}

.product-page {
  padding: 40px 20px;
  display: flex;
}
.product-page h1 {
  margin-bottom: 20px;
}
.product-page a {
  text-decoration: none;
  color: #111111;
  font-family: "Mulish", sans-serif;
  font-size: 22px;
}
.product-page .product-container {
  margin-top: 10px;
}
.product-page .product-item .star-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.product-page .product-item #star-icon {
  color: #FFBE00;
}
.product-page .product-item #icon-container {
  position: relative;
}
.product-page .product-item #icon-container #heart-icon {
  position: absolute;
  top: 80px;
  right: 30px;
}
.product-page .product-item #icon-container #heart-icon:hover {
  color: #F4303C;
}
.product-page .product-item #icon-container i {
  position: absolute;
  top: 40px;
  right: 30px;
  font-size: 24px;
  color: #626262;
}
.product-page .product-item #arrow-icon {
  margin-left: 5px;
  font-size: 16px;
}
@media (min-width: 768px) {
  .product-page .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .product-page .product-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}

ul {
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer-section {
  background: #151414;
  position: relative;
  margin-top: auto;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}

.footer-content {
  position: relative;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.facebook-bg {
  background: #3B5998;
}

.twitter-bg {
  background: #55ACEE;
}

.google-bg {
  background: #DD4B39;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}

.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: #ff5e14;
}

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: #ff5e14;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
.login-section .login-container {
  text-align: center;
}
@media (min-width: 800px) {
  .login-section .login-container {
    width: 70%;
  }
}
@media (min-width: 1000px) {
  .login-section .login-container {
    width: 50%;
  }
}
@media (min-width: 1400px) {
  .login-section .login-container {
    width: 40%;
  }
}
@media (min-width: 1600px) {
  .login-section .login-container {
    width: 30%;
  }
}
@media (min-width: 2000px) {
  .login-section .login-container {
    width: 20%;
  }
}
.login-section .login-container .si-page-name {
  color: gray;
  font-weight: 400;
  margin-top: 100px;
}
.login-section .login-container .si-welcome-div .si-title {
  font-size: 2rem;
}
.login-section .login-container .si-undertext {
  color: gray;
  font-weight: 400;
  font-size: 1rem;
}
.login-section .login-container .si-input-div {
  position: relative;
}
.login-section .login-container .si-input-div .si-input {
  border-radius: 24px;
  border-color: lightgray;
  box-shadow: none;
  width: 90%;
  z-index: 0;
}
.login-section .login-container .si-input-div .si-input-text {
  position: absolute;
  bottom: 12px;
  left: 50px;
  background-color: white;
  z-index: 99;
  font-size: 0.9rem;
  padding-left: 10px;
  padding-right: 10px;
}
.login-section .login-container .si-input-div .si-input-pw {
  position: absolute;
  right: 50px;
  top: 12px;
  cursor: pointer;
}
.login-section .login-container .si-input-div .si-input-check {
  position: absolute;
  right: 54px;
  top: 12px;
}
.login-section .login-container .si-link {
  text-decoration: none;
  color: black;
}
.login-section .login-container .si-link:hover {
  transition: 0.2s;
  color: gray;
  text-decoration: underline;
}
.login-section .login-container .si-btn {
  border: none;
  background-color: black;
  border-radius: 24px;
  color: white;
  padding: 10px;
}
.login-section .login-container .si-brands-div {
  width: 60%;
  margin: 0 auto;
}
.login-section .login-container .si-brands-div .si-brand-link {
  text-decoration: none;
}
.login-section .login-container .si-brands-div .si-brand-link .si-brand-logo {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: 1px solid lightgray;
  border-radius: 100%;
}
.login-section .login-container .si-brands-div .si-brand-link .si-facebook {
  color: #4267B2;
}
.login-section .login-container .si-brands-div .si-brand-link .si-facebook:hover {
  transition: 0.2s;
  color: #1d418b;
  border-color: #1d418b;
}
.login-section .login-container .si-brands-div .si-brand-link .si-twitter {
  color: #26a7de;
}
.login-section .login-container .si-brands-div .si-brand-link .si-twitter:hover {
  transition: 0.2s;
  color: #1e79a0;
  border-color: #1e79a0;
}
.login-section .login-container .si-brands-div .si-brand-link .si-googleplus {
  color: #db4a39;
}
.login-section .login-container .si-brands-div .si-brand-link .si-googleplus:hover {
  transition: 0.2s;
  color: #ba2d1d;
  border-color: #ba2d1d;
}

.showcase {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.showcase #carousel-slide-showcase {
  width: 100%;
  transition: transform 5s ease-in-out;
}
.showcase .card-text {
  font-family: "Mulish", sans-serif;
  position: absolute;
  margin-top: 40%;
  bottom: 6rem;
  left: 40px;
  font-weight: 700;
  color: #111111;
  padding: 5px;
  font-size: 30px;
}

img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.btn-shop-now {
  margin-top: 20px;
  cursor: pointer;
  bottom: 50px;
  left: 40px;
  font-family: "Mulish", sans-serif;
  padding: 10px 35px;
  border: 1px solid #111111;
  background-color: #111111;
  color: white;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  border-radius: 25px;
  position: absolute;
}
.btn-shop-now:hover {
  color: #111111;
  background-color: white;
}
