ul {
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer-section {
  background: #151414;
  position: relative;
  margin-top: auto;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}

.footer-content {
  position: relative;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.facebook-bg {
  background: #3B5998;
}

.twitter-bg {
  background: #55ACEE;
}

.google-bg {
  background: #DD4B39;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}

.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: #ff5e14;
}

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: #ff5e14;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
.login-section .login-container {
  text-align: center;
}
@media (min-width: 800px) {
  .login-section .login-container {
    width: 70%;
  }
}
@media (min-width: 1000px) {
  .login-section .login-container {
    width: 50%;
  }
}
@media (min-width: 1400px) {
  .login-section .login-container {
    width: 40%;
  }
}
@media (min-width: 1600px) {
  .login-section .login-container {
    width: 30%;
  }
}
@media (min-width: 2000px) {
  .login-section .login-container {
    width: 20%;
  }
}
.login-section .login-container .si-page-name {
  color: gray;
  font-weight: 400;
  margin-top: 100px;
}
.login-section .login-container .si-welcome-div .si-title {
  font-size: 2rem;
}
.login-section .login-container .si-undertext {
  color: gray;
  font-weight: 400;
  font-size: 1rem;
}
.login-section .login-container .si-input-div {
  position: relative;
}
.login-section .login-container .si-input-div .si-input {
  border-radius: 24px;
  border-color: lightgray;
  box-shadow: none;
  width: 90%;
  z-index: 0;
}
.login-section .login-container .si-input-div .si-input-text {
  position: absolute;
  bottom: 12px;
  left: 50px;
  background-color: white;
  z-index: 99;
  font-size: 0.9rem;
  padding-left: 10px;
  padding-right: 10px;
}
.login-section .login-container .si-input-div .si-input-pw {
  position: absolute;
  right: 50px;
  top: 12px;
  cursor: pointer;
}
.login-section .login-container .si-input-div .si-input-check {
  position: absolute;
  right: 54px;
  top: 12px;
}
.login-section .login-container .si-link {
  text-decoration: none;
  color: black;
}
.login-section .login-container .si-link:hover {
  transition: 0.2s;
  color: gray;
  text-decoration: underline;
}
.login-section .login-container .si-btn {
  border: none;
  background-color: black;
  border-radius: 24px;
  color: white;
  padding: 10px;
}
.login-section .login-container .si-brands-div {
  width: 60%;
  margin: 0 auto;
}
.login-section .login-container .si-brands-div .si-brand-link {
  text-decoration: none;
}
.login-section .login-container .si-brands-div .si-brand-link .si-brand-logo {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: 1px solid lightgray;
  border-radius: 100%;
}
.login-section .login-container .si-brands-div .si-brand-link .si-facebook {
  color: #4267B2;
}
.login-section .login-container .si-brands-div .si-brand-link .si-facebook:hover {
  transition: 0.2s;
  color: #1d418b;
  border-color: #1d418b;
}
.login-section .login-container .si-brands-div .si-brand-link .si-twitter {
  color: #26a7de;
}
.login-section .login-container .si-brands-div .si-brand-link .si-twitter:hover {
  transition: 0.2s;
  color: #1e79a0;
  border-color: #1e79a0;
}
.login-section .login-container .si-brands-div .si-brand-link .si-googleplus {
  color: #db4a39;
}
.login-section .login-container .si-brands-div .si-brand-link .si-googleplus:hover {
  transition: 0.2s;
  color: #ba2d1d;
  border-color: #ba2d1d;
}

.comment-section {
  background-color: white;
}

.comment-section .container .comments {
  border-bottom: 1px solid black;
}

.comment-section .container .rating {
  display: flex;
  justify-content: flex-start;
}

.comment-section .container .comment-date {
  display: flex;
  flex-direction: row;
}

.comment-section .container .comment-date .month {
  margin-left: 5px;
  margin-right: 5px;
}
