.best-sellers {
    display: flex;

    .title {
        padding-top: 60px;
        text-align: center;
    }

    .view-all {
        text-align: right;
        margin-right: 20px;
    }

    a {
        text-decoration: none;
    }

    .product-container {
        margin-top: 10px;
    }

    .star-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    #star-icon {
        color: $color-star;
    }

    #icon-container {
        position: relative;

        #heart-best-icon {
            position: absolute;
            top: 20px;
            right: 30px;
            font-size: 18px;
            color: $color-grey;

            &:hover {
                color: $color-heart;
            }
        }

        #best-cart-icon {
            position: absolute;
            top: 50px;
            right: 30px;
            font-size: 18px;
            color: $color-grey;
        }
    }

    .view-all, #arrow-icon {
        font-size: 16px;
        margin: 0 25px 8px 4px;
    }

    .best-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        .best-img {
            width: 100%;
            height: 200px;
        }
    }

    .product-container {
        margin-bottom: 20px;
    }
}


@media (min-width: 280px) and (max-width: 912px) {
    .best-sellers {
        .title {
            padding-top: 60px;
            font-size: 22px;
        }

        .view-all, #arrow-icon {
            font-size: 14px;
            margin-right: 20px;
        }

        .best-grid {
            .bestSellers-item {
                width: 100px;

                .product-title {
                    font-size: 12px;
                }

                .product-price {
                    font-size: 12px;
                }

                .best-img {
                    width: 100%;
                    height: 100px;
                }

                #icon-container {
                    position: relative;

                    #heart-best-icon {
                        top: 10px;
                        right: 20px;
                        font-size: 14px;
                    }

                    #best-cart-icon {
                        top: 30px;
                        right: 20px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
