.best-sellers {
    display: flex;

    .title {
        text-align: center;
    }

    .view-all {
        text-align: right;
        margin: 12px;
    }

    a {
        text-decoration: none;
    }

    .product-container {
        margin-top: 10px;
    }

    .star-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    #star-icon {
        color: $color-star;
    }

    #icon-container {
        position: relative;

        #heart-best-icon {
            position: absolute;
            top: 20px;
            right: 30px;
            font-size: 18px;
            color: $color-grey;

            &:hover {
                color: $color-heart;
            }
        }


        #best-cart-icon {
            position: absolute;
            top: 50px;
            right: 30px;
            font-size: 18px;
            color: $color-grey;
        }
    }

    #arrow-icon {
        margin-left: 5px;
        font-size: 16px;
    }


    .best-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;


        .best-img {
            width: 100%;
            height: 200px;
        }
    }

    .product-container {
        margin-bottom: 20px;
    }
}



@include md {
    @include lg {
        @include xl {
            @include xxl {
                .best-sellers {
                    padding: 10px 20px;
                    flex-direction: row;
                    align-items: center;

                    .view-all {
                        text-align: right;
                        margin-right: 20px;
                        font-size: 14px;


                        #arrow-icon {
                            margin-left: 5px;
                            font-size: 12px;
                        }
                    }

                    .title {
                        font-size: 22px;
                        text-align: center;
                    }


                    .best-grid {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 10px;

                        .bestSellers-item {
                            width: 150px;

                            .product-title {
                                font-size: 12px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            .product-price {
                                font-size: 12px;
                            }

                            .best-img {
                                width: 100%;
                                height: 100px;
                            }

                            #icon-container {
                                position: relative;

                                #heart-icon {
                                    position: absolute;
                                    top: 8px;
                                    right: 12px;
                                    font-size: 14px;

                                    &:hover {
                                        color: $color-heart;
                                    }
                                }


                                #add-to-cart-icon {
                                    position: absolute;
                                    top: 40px;
                                    right: 12px;
                                    font-size: 14px;
                                    color: $color-grey;
                                }
                            }
                        }

                        .star-container {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                        }

                        #star-icon {
                            color: $color-star;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }




    @media (min-width: 280px) and (max-width: 912px) {
        .best-sellers {
            .best-grid {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 10px;

                .bestSellers-item {
                    width: 120px;

                    .product-title {
                        font-size: 12px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .product-price {
                        font-size: 12px;
                    }

                    .best-img {
                        width: 100%;
                        height: 100px;
                    }

                    #icon-container {
                        position: relative;

                        #heart-best-icon {
                            position: absolute;
                            top: 20px;
                            right: 10px;
                            font-size: 16px;

                            &:hover {
                                color: $color-heart;
                            }
                        }


                        #best-cart-icon {
                            position: absolute;
                            top: 40px;
                            right: 10px;
                            font-size: 16px;
                            color: $color-grey;
                        }
                    }
                }
            }
        }
    }
}