.forgotpw-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    margin-top: 20px;

    .forgotpw-container {
        text-align: center;

        @media (min-width: 800px) {
            width: 70%;
        }

        @media (min-width: 1000px) {
            width: 50%;
        }

        @media (min-width: 1400px) {
            width: 40%;
        }

        @media (min-width: 1600px) {
            width: 30%;
        }

        @media (min-width: 2000px) {
            width: 20%;
        }

        .ftpd-welcome-div {
            margin-bottom: 40px;

            .ftpd-title {
                font-size: 2rem;
            }

            .ftpd-instruction {
                margin-bottom: 40px;
            }
        }

        .ftpd-input-div {
            position: relative;

            .ftpd-input {
                border-radius: 24px;
                border-color: lightgray;
                box-shadow: none;
                z-index: 0;
            }

            .ftpd-input-text {
                position: absolute;
                bottom: 12px;
                left: 50px;
                background-color: white;
                z-index: 99;
                font-size: 0.9rem;
                padding-left: 10px;
                padding-right: 10px;
            }

            .ftpd-input-check {
                position: absolute;
                right: 54px;
                top: 12px;
            }
        }
    }
}


.ftpd-send-btn {
    border: none;
    background-color: black;
    border-radius: 24px;
    color: white;
    padding: 10px;
}

.forgotpw-complete-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    margin-top: 20px;

    .forgotpw-complete-container {
        text-align: center;

        @media (min-width: 800px) {
            width: 70%;
        }

        @media (min-width: 1000px) {
            width: 50%;
        }

        @media (min-width: 1400px) {
            width: 40%;
        }

        @media (min-width: 1600px) {
            width: 30%;
        }

        @media (min-width: 2000px) {
            width: 20%;
        }


        .ftpdc-welcome-div {
            text-align: center;
            margin-bottom: 40px;

            .ftpdc-key-div {
                border: 4px solid #DBE3F5;
                border-radius: 100%;
                position: relative;
                margin: 0 auto;
                width: 220px;
                height: 220px;


                .fptdc-union {
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    transform: translate(50%,-50%);
                    background-color: #DBE3F5;
                    border-radius: 100%;
                    z-index: 99;
                }

                .ftpdc-key {
                    font-size: 5rem;
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    transform: translate(50%,-50%);
                    z-index: 99;
                }
            }
        }
    }
}
