
.product-page {
    padding: 40px 20px;
    display: flex;

    h1 {
        margin-bottom: 20px;
    }

    a {
        text-decoration: none;
        color: $color-black;
        font-family: $font-mulish;
        font-size: 22px;
    }

    .product-container {
        margin-top: 10px;
    }

    .product-item {

        .star-container {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        #star-icon {
            color: $color-star;
        }

        #icon-container {
            position: relative;

            #heart-icon {
                position: absolute;
                top: 80px;
                right: 30px;

                &:hover {
                    color: $color-heart;
                }
            }
        }

        #icon-container i {
            position: absolute;
            top: 40px;
            right: 30px;
            font-size: 24px;
            color: $color-grey;
        }

        #arrow-icon {
            margin-left: 5px;
            font-size: 16px;
        }
    }

    @media (min-width: 768px) {
        .product-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }
    }

    @media (max-width: 767px) {
        .product-grid {
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
