.product-page {
    display: flex;

    h1 {
        margin-bottom: 40px;
        text-align: left;
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    .product-price {
        font-size: 16px;
    }

    a {
        text-decoration: none;
    }

    .product-container {
        margin-top: 5px;
    }

    .product-title {
        font-size: 12px;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .product-price {
        font-size: 12px;
    
        }
        .star-container {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        #star-icon {
            color: $color-star;
            font-size: 12px;
        }

        #icon-container {
            position: relative;

            #heart-icon {
                position: absolute;
                top: 8px;
                right: 20px;
                font-size: 16px;

                &:hover {
                    color: $color-heart;
                }
            }

            #add-cart-product {
                position: absolute;
                top: 40px;
                right: 20px;
                font-size: 16px;
                color: $color-grey;
            }
        }


        .product-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 10px;


            .product-img {
                height: 100%;
                width: 200px;
            }
        }

        .product-container {
            margin-bottom: 20px;
        }
    }


    @media (min-width: 280px) and (max-width: 767px) {
        .product-page {
            padding: 10px;

            .product-grid {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                gap: 8px;

                h3 {
                    font-size: 16px;
                }
               
                .product-item {
                    width: 100px;
               

                    .product-title {
                        font-size: 12px;
                        margin: 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .product-price {
                        font-size: 12px;
                
                    }


                    .product-img {
                        width: 100%;
                        height: 100px;
                    }

                    .product-container {
                        margin-top: 5px;
                    }

                    #icon-container {
                        position: relative;

                        #heart-icon {
                            position: absolute;
                            font-size: 12px;
                            top: 5px;
                            right: 10px;

                            &:hover {
                                color: $color-heart;
                            }
                        }

                        #add-cart-product {
                            top: 35px;
                            right: 10px;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
