.register-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    margin-top: 20px;

    .register-container {
        text-align: center;

        @media (min-width: 800px) {
            width: 70%;
        }

        @media (min-width: 1000px) {
            width: 50%;
        }

        @media (min-width: 1400px) {
            width: 40%;
        }

        @media (min-width: 1600px) {
            width: 30%;
        }

        @media (min-width: 2000px) {
            width: 20%;
        }

        .register-validation {
            margin: 0;
            padding: 0;
            background: #ef1c1c;
            color: white;

            ul {
                list-style-type: none;
                margin: 0;
            }
        }

        .rr-page-name {
            color: gray;
            font-weight: 400;
            margin-top: 100px;
        }

        .rr-welcome-div {

            .rr-title {
                font-size: 2rem;
            }
        }

        .rr-link {
            text-decoration: none;
            color: black;

            &:hover {
                transition: 0.2s;
                color: gray;
                text-decoration: underline;
            }
        }

        .rr-btn {
            border: none;
            background-color: black;
            border-radius: 24px;
            color: white;
            padding: 10px;
        }

        .rr-brands-div {
            width: 60%;
            margin: 0 auto;
            margin-bottom: 20px;

            .rr-brand-link {
                text-decoration: none;

                .rr-brand-logo {
                    width: 55px;
                    height: 55px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 18px;
                    border: 1px solid lightgray;
                    border-radius: 100%;
                }

                .rr-facebook {
                    color: #4267B2;

                    &:hover {
                        transition: 0.2s;
                        color: #1d418b;
                        border-color: #1d418b;
                    }
                }

                .rr-twitter {
                    color: #26a7de;

                    &:hover {
                        transition: 0.2s;
                        color: #1e79a0;
                        border-color: #1e79a0;
                    }
                }

                .rr-googleplus {
                    color: #db4a39;

                    &:hover {
                        transition: 0.2s;
                        color: #ba2d1d;
                        border-color: #ba2d1d;
                    }
                }
            }
        }
    }
}
