@{
    ViewData["Title"] = "Forgot Password";
}

<section class="forgotpw-section">
    <div class="container forgotpw-container">
        <div class="row">
            <div class="col-12 ftpd-welcome-div">
                <h1 class="ftpd-title">
                    Forgot password
                </h1>
                <div class="ftpd-instructions">
                    Please enter your email address. You will recieve a link to create a new password via email.
                </div>
            </div>
            <div class="ftpd-input-div col-12 mb-3 d-flex justify-content-center">
                <input type="email" class="form-control ftpd-input" id="rr-email" oninput="validateEmail()" />
                <i class="fas fa-xmark ftpd-input-check rr-email-check"></i>
                <p class="ftpd-input-text">Email</p>
            </div>
            <div class="mb-4">
                <button class="ftpd-send-btn col-12">
                    Send
                </button>
            </div>
        </div>
    </div>
</section>