@model UserViewModel

<div class="account-section">
    <div class="container account-container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <a asp-controller="account" asp-action="edit"><i class="fa-light fa-pen"></i></a>
            </div>
            <div class="col-12 d-flex justify-content-center">
                @User.FindFirst("FullName")?.Value
            </div>
            <div class="col-12 d-flex justify-content-center">
                @User.FindFirst("Email")?.Value
            </div>
        </div>
    </div>
</div>