<section class="newpw-section">
    <div class="container newpw-container">
        <div class="row">
            <div class="col-12 newpw-welcome-div">
                <h1 class="newpw-title">
                    Enter new password and confirm.
                </h1>
            </div>
            <div class="input-div col-12 mb-3 d-flex justify-content-center">
                <input type="password" class="form-control account-input" id="pw" />
                <i class="fas fa-eye-slash input-pw" onclick="togglePassword()"></i>
                <p class="input-text">Password</p>
            </div>
            <div class="input-div col-12 mb-3 d-flex justify-content-center">
                <input type="password" class="form-control account-input" id="confirm-pw" />
                <i class="fas fa-eye-slash input-confirm-pw" onclick="toggleConfirmPassword()"></i>
                <p class="input-text">Confirm password</p>
            </div>
            <div class="mb-4">
                <button class="ftpd-send-btn col-12">
                    Send
                </button>
            </div>
        </div>
    </div>
</section>